<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Document</title>
</head>
<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./main.js" type="module"></script>


<body>
    <div id="app" class="wrap">
        <div v-if="!card" class="choose">
            <button v-on:click="getCard">點擊抽卡</button>
        </div>
        <div v-if="card" class="result">
            <div class="image flip">
                <div class="card-front"></div>
                <div class="card-back" :style="resultImage"></div>
            </div>
            <div  class="imageButton">
                <button v-on:click="backToChoose">再抽一次</button>
            </div>
            
        </div>
        
    </div>
    

    
</body>
</html>